*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); */
  background: linear-gradient(135deg, #3a1c71, #d76d77, #ffaf7b);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container h1{
  font-size: 45px;
  font-weight: 500;
  margin-top: -50px;
  margin-bottom: 50px;
  color: #fff;
}

.container h1 span{
  color: #3a1c71;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

} 

textarea{
  width: 600px;
  height: 250px;
  background: #3a1c717a;
  color: #fff;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 10px;
  resize: none;
  margin-bottom: 30px;
}

textarea::placeholder{
  color: #dadada;
  font-size: 16px;
}

.row {
  width: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
}

button{
  background: #3a1c71;
  color: #fff;
  font-size: 16px;
  padding: 14px 30px;
  border-radius: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
button img{
  width: 16px;
  margin-right: 10px;
}

select{
  flex: 1;
  color: #fff;
  background-color: #3a1c717a;
  height: 50px;
  padding: 0 20px;
  outline: 0;
  border: 0;
  border-radius: 35px;
  appearance: none;
  background-image: url(images/dropdown.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-x: calc(100% - 20px);
  background-position-y: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

